.item-excel {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  // border: 1px solid #D9D9D9;
  border-radius: 17px;
  margin-bottom: 10px;
  cursor: pointer;
  background: #EFF3F98C;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  margin-top: 20px;

  i {
    color: #00bd1f;
  }
  
  i {
    position: absolute;
    left: 20px;
  }

  .name {
    position: absolute;
    left: 100px;
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .updated_at {
    position: relative;
    left: 600px;
  }
  
  .parent {
    position: relative;
    left: 755px;
  }

  &:hover {
    background: #EFF3F9;
  }
}

.tooltip {
  visibility: hidden;
  width: 520px;
  background-color: rgb(185, 185, 185);
  color: #413f3f;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Vị trí của tooltip so với element */
  left: -800px;
  top: 40px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.item-excel:hover .tooltip {
  visibility: visible;
  opacity: 1;
}