.item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  // border: 1px solid #D9D9D9;
  border-radius: 17px;
  // background: #EFF3F98C;
  font-size: 20px;
  font-weight: 600;
  position: relative;

  i {
    position: absolute;
    left: 20px;
    color: #fff;
  }

  .name {
    position: absolute;
    left: 100px;
  }

  .updated_at {
    position: relative;
    left: 600px;
  }
  
  .parent {
    position: relative;
    right: 30px;
  }
}